@import url("https://fonts.googleapis.com/css2?family=Cabin&display=swap");
@import "~materialize-css/dist/css/materialize.min.css";

body {
  margin: 0;
  padding: 0;
  color: white;
  font-family: "Cabin", sans-serif;
  background-image: linear-gradient(40deg, black 60%, grey 40%);
}

input {
  font-family: "Cabin", sans-serif;
}

.App {
  width: 100%;
  display: flex;
  justify-content: center;
}

.Main {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.Main header {
  width: 100%;
  display: flex;
  align-items: center;
  height: 10vh;
  padding: 10px;
  justify-content: space-between;
  animation: append 1s linear 1;
}

.Main header .r button {
  margin-right: 10px;
}

input {
  width: 45vw;
  font-size: large;
  margin: 1vw;
  transition: 0.4s all !important;
  background: none;
  border: none;
  border-bottom: 1px solid;
  outline: none;
  color: white;
}

button {
  cursor: pointer;
  border-radius: 10px;
  transition: 0.4s all;
}

.form input:hover,
.form button:hover {
  transform: scale(1.05);
}

.form {
  width: 100%;
  padding: 2vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.4s all;
  animation: append 1s linear 1;
  border-radius: 10px;
}

.form input {
  width: 50% !important;
  animation: blindingInput 5s linear infinite;
}

.form button {
  width: 50% !important;
  font-size: large;
  transition: 0.4s all;
  margin-top: 1vw;
  transition: 0.4s all;
  animation: blindingButton 5s linear infinite;
}

.Player {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Player .cntrl {
  margin: 5px;
}

.Playlist {
  margin: 5px;
  border: 1px solid teal;
  border-radius: 10px;
  padding: 10px;
  width: 200px;
  flex-wrap: wrap;
  background-color: rgba(0, 0, 0, 0.3);
}

.Playlist-full {
  margin: 5px;
  border: 1px solid teal;
  border-radius: 10px;
  padding: 10px;
  height: 30vh;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.3);
}

.Playlist-full::-webkit-scrollbar {
  width: 5px;
}

.Playlist-full::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.Playlist-full::-webkit-scrollbar-thumb {
  background-color: teal;
  outline: 1px solid turquoise;
  border-radius: 10px;
}

.controlls {
  position: static;
}

@keyframes fadeOut {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 0.5;
  }

  30% {
    opacity: 1;
  }

  60% {
    opacity: 0.5;
  }

  100% {
    opacity: 0;
  }
}

@keyframes append {
  0% {
    opacity: 0;
  }

  50% {
    transform: translateX(100px);
    opacity: 0.3;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes playing {
  0% {
    height: 20px;
  }

  50% {
    height: 6px;
  }

  100% {
    height: 20px;
  }
}

.playing-wrapper {
  margin-left: 10px;
}

.playing {
  width: 5px;
  height: 20px;
  background-image: linear-gradient(180deg, teal, aqua);
}

.playing0 {
  animation: playing 1.5s linear infinite;
}

.playing1 {
  animation: playing 1s linear infinite;
}

.playing2 {
  animation: playing 2s linear infinite;
}

.r {
  display: flex;
  align-items: center;
}

.c {
  display: flex;
  flex-direction: column;
}

.centr {
  align-items: center;
  justify-content: center;
}

.logo {
  font-size: 3rem;
}

canvas {
  position: absolute;
  width: 100%;
  top: 0%;
  left: 0%;
  z-index: -1;
  background: none;
  transition: 0.4s all;
}

.duration {
  width: 30vw !important;
  margin: 1vw;
}

.range-field {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 40vw !important;
}

.marker {
  width: 5px;
  background-color: turquoise;
  opacity: 0.7;
  border: 1px solid teal;
  border-radius: 10px;
}

.markers-wrapper {
  max-height: min-content;
  z-index: 0;
  position: fixed;
  top: 65vh;
}

h4 {
  z-index: 2;
}

.section {
  border: 2px solid teal;
  border-radius: 10px;
  height: 50vh;
  margin: 1vh;
  padding: 1vh;
  background-color: rgba(0, 0, 0, 0.3);
}

.folders-section {
  width: 65vw;
}

.songs-section {
  width: 30vw;
}

.crumb {
  background-image: linear-gradient(90deg, turquoise, teal);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  padding: 5px;
  cursor: pointer;
  opacity: 0.7;
}

.crumb.active {
  opacity: 1;
}

.song {
  cursor: pointer;
  transition: 0.3s;
}

.song:hover {
  color: turquoise;
}

label {
  width: 10vw !important;
}

.label {
  display: flex;
  justify-self: center;
  justify-content: center;
  margin: auto;
}

.search-input-songs {
  width: 60% !important;
}

.eqz-wrapper {
  display: flex;
  flex-direction: column;
  transform: rotateZ(270deg);
  width: fit-content;
  height: fit-content;
  margin-left: 5vw;
}

.eqz-wrapper input {
  min-width: 30vh !important;
}

.eqz-wrapper .inp-wrapper {
  width: 32vh !important;
  justify-content: space-between;
}

.eqz-wrapper span {
  transform: rotateZ(90deg);
  display: flex;
  margin-right: 1rem;
  width: 1rem;
  height: 2rem;
}

.eqz-wrapper .inp-subval {
  margin-left: 1rem;
  height: 1rem;
}

select {
  background: none;
  color: turquoise;
  width: 20vh;
  outline: none;
  border: none;
  margin: auto;
  background-color: black;
}

option {
  background: none;
}

.big-wrapper {
  justify-content: space-around;
}

.section canvas {
  position: relative;
  width: 450px !important;
  height: 200px !important;
  margin: 1vw;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 3;
  border-radius: 10px;
  box-shadow: 0px 0px 15px 3px aqua;
}
