@import url("https://fonts.googleapis.com/css2?family=Cabin&display=swap");
@import "~materialize-css/dist/css/materialize.min.css";

body {
  margin: 0;
  padding: 0;
  color: white;
  font-family: "Cabin", sans-serif;
  background-image: linear-gradient(40deg, black 60%, grey 40%);
  overflow: hidden;
}

input {
  font-family: "Cabin", sans-serif;
}

input[type="range"] + .thumb {
  display: none;
}

.App {
  width: 100%;
  display: flex;
  justify-content: center;
}

.Main {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.Main header {
  width: 100%;
  display: flex;
  align-items: center;
  height: 10vh;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: space-between;
  animation: append 1s linear 1;
}

.Main header li {
  margin: 10px;
  cursor: pointer;
  transition: 0.3s;
  align-items: center;
}

.Main header span {
  margin: 5px;
}

.Main header ul {
  display: flex;
  align-self: center;
  justify-self: center;
}

.Main header li:hover {
  color: aqua;
  transform: scale(1.05);
}

/* .Main header .r button {
  margin-right: 10px;
} */

input {
  width: 45vw;
  font-size: large;
  margin: 1vw;
  transition: 0.4s all !important;
  background: none;
  border: none;
  border-bottom: 1px solid;
  outline: none;
  color: white;
}

button {
  cursor: pointer;
  border-radius: 10px;
  transition: 0.4s all;
}

.form input:hover,
.form button:hover {
  transform: scale(1.05);
}

.form {
  width: 100%;
  padding: 2vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.4s all;
  animation: append 1s linear 1;
  border-radius: 10px;
}

.form input {
  width: 50% !important;
  animation: blindingInput 5s linear infinite;
}

.form button {
  width: 50% !important;
  font-size: large;
  transition: 0.4s all;
  margin-top: 1vw;
  transition: 0.4s all;
  animation: blindingButton 5s linear infinite;
}

.Player {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: append 1s linear 1;
}

.Player .cntrl {
  margin: 5px;
}

.Studio {
  animation: append 1s linear 1;
}

.Playlist {
  margin: 5px;
  border: 1px solid teal;
  border-radius: 10px;
  padding: 10px;
  width: 200px;
  flex-wrap: wrap;
  background-color: rgba(0, 0, 0, 0.3);
}

.Playlist-full {
  margin: 5px;
  border: 1px solid teal;
  border-radius: 10px;
  padding: 10px;
  height: 30vh;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.3);
}

.Playlist-full::-webkit-scrollbar,
.song-section::-webkit-scrollbar {
  width: 5px;
}

.Playlist-full::-webkit-scrollbar-track,
.song-section::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.Playlist-full::-webkit-scrollbar-thumb,
.song-section::-webkit-scrollbar-thumb {
  background-color: teal;
  outline: 1px solid turquoise;
  border-radius: 10px;
}

.controlls {
  position: static;
}

@keyframes fadeOut {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 0.5;
  }

  30% {
    opacity: 1;
  }

  60% {
    opacity: 0.5;
  }

  100% {
    opacity: 0;
  }
}

@keyframes append {
  0% {
    opacity: 0;
  }

  50% {
    transform: translateX(100px);
    opacity: 0.3;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes playing {
  0% {
    height: 20px;
  }

  50% {
    height: 6px;
  }

  100% {
    height: 20px;
  }
}

.playing-wrapper {
  margin-left: 10px;
}

.playing {
  width: 5px;
  height: 20px;
  background-image: linear-gradient(180deg, teal, aqua);
}

.playing0 {
  animation: playing 1.5s linear infinite;
}

.playing1 {
  animation: playing 1s linear infinite;
}

.playing2 {
  animation: playing 2s linear infinite;
}

.r {
  display: flex;
  align-items: center;
}

.c {
  display: flex;
  flex-direction: column;
}

.centr {
  align-items: center;
  justify-content: center;
}

.logo {
  font-size: 3rem;
}

canvas {
  position: absolute;
  width: 100%;
  top: 0%;
  left: 0%;
  z-index: -1;
  background: none;
  transition: 0.4s all;
}

.duration {
  width: 30vw !important;
  margin: 1vw;
}

.range-field {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 40vw !important;
}

.marker {
  width: 5px;
  background-color: turquoise;
  opacity: 0.7;
  border: 1px solid teal;
  border-radius: 10px;
}

.markers-wrapper {
  max-height: min-content;
  z-index: 0;
  position: fixed;
  top: 65vh;
}

h4 {
  z-index: 2;
}

.section {
  border: 2px solid teal;
  border-radius: 10px;
  height: 50vh;
  margin: 1vh;
  padding: 1vh;
  background-color: rgba(0, 0, 0, 0.3);
}

.folders-section {
  width: 65vw;
}

.song-section {
  width: 30vw;
  overflow-y: auto;
  overflow-x: hidden;
}

.crumb {
  background-image: linear-gradient(90deg, turquoise, teal);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  padding: 5px;
  cursor: pointer;
  opacity: 0.7;
}

.crumb.active {
  opacity: 1;
}

.song {
  cursor: pointer;
  transition: 0.3s;
}

.song:hover {
  color: turquoise;
}

label {
  width: 10vw !important;
}

.label {
  display: flex;
  justify-self: center;
  justify-content: center;
  margin: auto;
}

.search-input-songs {
  width: 60% !important;
}

.eqz-wrapper {
  display: flex;
  flex-direction: column;
  transform: rotateZ(270deg);
  width: fit-content;
  height: fit-content;
  margin-left: 5vw;
}

.eqz-wrapper input {
  min-width: 30vh !important;
}

.eqz-wrapper .inp-wrapper {
  width: 32vh !important;
  justify-content: space-between;
}

.eqz-wrapper span {
  transform: rotateZ(90deg);
  display: flex;
  margin-right: 1rem;
  width: 1rem;
  height: 2rem;
}

.eqz-wrapper .inp-subval {
  margin-left: 1rem;
  height: 1rem;
}

select {
  background: none;
  color: turquoise;
  width: 20vh;
  outline: none;
  border: none;
  margin: auto;
  background-color: black;
}

option {
  background: none;
}

.big-wrapper {
  justify-content: space-around;
}

.section canvas {
  position: relative;
  width: 450px !important;
  height: 200px !important;
  margin: 1vw;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3;
  border-radius: 10px;
  box-shadow: 0px 0px 15px 3px aqua;
}

.Studio {
  width: 100%;
  height: 100%;
  display: flex;
}

.Studio .duration-bar {
  width: 95%;
  height: 40vh;
  display: flex;
  padding: 5px;
  overflow: auto;
}

.Studio label {
  width: 40px !important;
}

.Studio .block {
  border: 2px solid teal;
  border-radius: 10px;
  height: 320px;
  margin: 5px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  transition: 0.3s all;
}

.Studio .files-block {
  width: 360px;
}

.Studio .files-block .song-section {
  width: 340px;
  padding: 5px;
}

.Studio .duration-bar .AudioEdit {
  height: 80px;
  margin: 1px;
  display: flex;
  transition: 0.3s all;
}

.Studio .duration-bar .AudioEdit .tools {
  margin-left: 5px;
}

.Studio .duration-bar .AudioEdit input[type="range"] {
  width: 50px !important;
}

.Studio .duration-bar .AudioEdit input + .thumb.active {
  display: none;
}

.Studio .duration-bar .AudioEdit .pinsParent {
  display: flex;
  width: 100%;
  justify-content: center;
  max-height: 80px;
  height: 70px;
  margin-top: -15px;
}

.Studio .duration-bar .AudioEdit select {
  width: 65px;
  height: 30px;
  font-size: 15px;
  color: white;
  outline: none;
}

.Studio .duration-bar .AudioEdit .pin {
  width: 5px;
}

.Studio .duration-bar .AudioEdit:hover {
  box-shadow: 0px 0px 2px 1px aqua, inset 0px 0px 5px 1px white;
}

.Studio .duration-bar .timeInp::-webkit-slider-thumb {
  background-color: teal !important;
  transition: 0.3s all;
  width: 3px !important;
  height: 40vh !important;
  border-radius: 0% !important;
  cursor: e-resize;
  z-index: 10;
}

.Studio .duration-bar .timeInp::-webkit-slider-thumb:hover {
  background-color: aqua !important;
  box-shadow: 0px 0px 2px 1px aqua;
}

.Studio .duration-bar .timeInp-wrapper {
  width: 6000px !important;
}

.noUi-connect {
  background-image: repeating-linear-gradient(
    -45deg,
    teal,
    teal 5px,
    rgba(0, 0, 0, 0.5) 5px,
    rgba(0, 0, 0, 0.5) 10px
  ) !important;
  border: none;
}

.noUi-horizontal .noUi-handle,
.noUi-vertical .noUi-handle {
  background: teal;
  width: 5px !important;
  height: 80px !important;
  cursor: e-resize;
  content: none;
  box-shadow: none;
  border: none;
  border-radius: 0;
  transition: 0.3s all;
  transform: translateX(-15px) translateY(5px);
}

.noUi-horizontal .noUi-handle,
.noUi-vertical .noUi-handle::after {
  content: none !important;
}

.noUi-horizontal .noUi-handle,
.noUi-vertical .noUi-handle:hover {
  box-shadow: 0px 0px 2px 1px aqua;
}

.noUi-target.noUi-horizontal .noUi-tooltip {
  background-color: teal;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  color: white;
  border-radius: 50%;
  border: none;
}
